@model IEnumerable<HRMSWeb.Models.AT_Permission>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ HRMSWeb.Models.Session_CRM sess = (HRMSWeb.Models.Session_CRM)HttpContext.Current.Session["Session_CRM"]; }
<div class="page-content">

    <div class="panel">


        <header class="panel-heading">

            <div class="panel-actions"></div>
            <h3 class="panel-title">Basic</h3>
            <div class="col-md-12 text-right">
                @if (CRM_Common.CheckPermissions(PermissionEnum.ManagePermission, CRM_Common.GetControler(this.ViewContext)))
            {
                    <button type="button" id="0" class="AddUpdatePermission  btn btn-block btn-primary">Add Permission</button>

                    @*<a class="AddUpdatePermission pull-right btn btn-raised btn-info btn-md" id="0"><i class="fa fa-plus mr-10"></i>Add Permission</a>*@
                }
            </div>
        </header>
        <div class="panel-body">
            @if (CRM_Common.CheckPermissions(PermissionEnum.ManagePermission, CRM_Common.GetControler(this.ViewContext)))
            {
                Html.RenderPartial("_Index");
            }
        </div>
    </div>


    <!-- Panel Basic -->
  
    </div>
        @*<div class="modal fade" id="PermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static"></div>*@
<div class="modal fade modal-primary" id="PermissionModal" aria-hidden="true" aria-labelledby="myModalLabel"
     role="dialog" tabindex="-1"></div>
        <script>




    $(document).ready(function () {





        $('body').on("click", ".AddUpdatePermission", function () {
            var id = $(this).attr('id');
            var title = $(this).attr('actionfor');
            $.get('@Url.Action("Save", "AddPermission")' + '/' + id, function (data) {
                $('#PermissionModal').html(data);
            }).done(function () {
                $('#PermissionModal').modal('show');
                if (title == "View") {
                    $('#btnSave').hide();
                    disable_Controls("PermissionModal");
                }
                else {
                    $('#btnSave').show();
                }
            });
        });




        $('body').on("click", "#btnSave", function () {

            ////if (validate('Validate')) {
            var actions = [];
            $.each($('#actiondiv input'), function (index, e) {
                actions.push($(e).val());
            });
            $('#Actions').val(actions.join(','));

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/AddPermission/Save")',
                datatype: "JSON",
                data: $("#frmPermission").serialize(),
                success: function (data) {
                    $('#divPermission').html(data);
                    var msg = $('#divPermission').find('#lbmsg').val();
                    if (msg == "Permission saved successfully!") {
                        toastr.success("Save","Role",Option)
                        
                     //   showStatusMsgPopup("1", msg);
                    }
                    else
                    {
                        showStatusMsgPopup("3", msg);
                    }
                    $('#PermissionModal').modal('hide');
                    $('#tblPermission').dataTable();
                }
            });
            //}
            //else {
            //    return false;
            // }

        });

        $('body').on("click", "#addaction", function () {
            debugger;
            var id = $('#actiondiv .txtaction').last().attr('id');
            var newid = parseInt(id == null ? 1 : id) + 1;
            var lb = "Action " + newid + ":";
            $('#actiondiv').append(" <div class='form-group'> <label class='col-sm-3 col-md-3 control-label'>" + lb + "</label><div class='col-sm-7 col-md-7 '><input class='form-control txtaction' id='" + newid + "' name='" + newid + "' placeholder='Action' require='Please Enter Action' type='text' validate='Validate'></div><div class='col-sm-0 col-md-0 '><a class='deleteaction  btn btn-raised btn-danger btn-sm'><li class='fa fa-trash'></li></a></div></div>");
        });
        $('body').on("click", ".deleteaction", function () {
            $(this).parent().parent().remove();
        });




    });

        </script>
