
@model IEnumerable<HRMSWeb.Models.AT_PermissionGroup>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@{ HRMSWeb.Models.Session_CRM sess = (HRMSWeb.Models.Session_CRM)HttpContext.Current.Session["Session_CRM"]; }


    <!-- boxs header -->
    <div class="boxs-header ">
        <h1 class="custom-font">
            <strong> Permission Group</strong>
        </h1>
        @if (CRM_Common.CheckPermissions(PermissionEnum.ManageGroupPermission, CRM_Common.GetControler(this.ViewContext)))
{
    @*<a class="AddUpdateGroup btn btn-raised btn-info btn-sm m-0 pull-right" style="margin-top: 4px!important;" id="0"><i class="fa fa-plus mr-10"></i>Add Group</a>*@
    <button type="button" id="0" class="AddUpdateGroup  btn btn-block btn-primary">Add Group</button>

        }
    </div>
<br />
<div class="col-md-12" id="divGroup">
    @if (CRM_Common.CheckPermissions(PermissionEnum.ManageGroupPermission, CRM_Common.GetControler(this.ViewContext)))
    {
        Html.RenderPartial("_PermissionGroupIndex");
    }
    <input type="hidden" id="lbmsg" value="@ViewBag.msg" />
</div>


<div class="modal fade modal-primary" id="GroupModal" aria-hidden="true" aria-labelledby="myModalLabel"
     role="dialog" tabindex="-1"></div>
@*<div class="modal fade" id="GroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static"></div>*@

<script>




    $(document).ready(function () {
        $('#tblGroup').dataTable();
        $.onbody("click", ".AddUpdateGroup", function () {
            var id = $(this).attr('id');
            var title = $(this).attr('actionfor');
            $.get('@Url.Action("_PermissionGroupSave", "CRM_Setting")' + '/' + id, function (data) {
                $('#GroupModal').html(data);
            }).done(function () {
                $('#GroupModal').modal('show');
                if (title == "View") {
                    $('#btnSave').hide();
                    disable_Controls("GroupModal");
                }
                else {
                    $('#btnSave').show();
                }
            });
        });
        $.onbody("click", "#btnSave", function () {

            if ($("form").valid()) {
                $("#json_Permissions").val(JSON.stringify(tblToJson($("#tblPermission tbody tr"))));
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/CRM_Setting/_PermissionGroupSave")',
                    datatype: "JSON",
                    data: $("#frmGroup").serialize(),
                    success: function (data) {
                        $('#divGroup').html(data);
                        $('#GroupModal').modal('hide');
                        $('#tblGroup').dataTable();
                        if ($("#lbmsg").val() == "Permission Group saved successfully!") {
                            showStatusMsgPopup("1", $("#lbmsg").val())
                        }
                        else {
                            showStatusMsgPopup("3", "An Error Occured While Processing.")
                        }
                    }
                });
            }
            else {
                return false;
            }
        });
  });

</script>
