
@{
    Layout = null;
}


<!Doctype html>
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>JARJA MEDIA - Forgot Password  </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/vendor/animsition.min.css">
    <link href="~/Content/assets/css/main.css" rel="stylesheet">
</head>

<body id="oakleaf" class="signup-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/Content/assets/images/login-bg.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                        <div class="card card-signup">
                         @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form" }))
                            {
                                <div class="header header-primary text-center">
                                    <h4>Forgot Password?</h4>
                                </div>
                                <h3 class="mt-0">Jarja Media</h3>
                                <p class="help-block">Marketing At The Speed Of Today</p>
                                <p class="text-muted p-15">Enter your e-mail address below to reset your password.</p>
                                <div class="content">
                                    <div class="form-group">
                                        <input type="email" id="email" name="email" email="example@address.com" validate="Validate" require="Please Enter Email" class="form-control underline-input" placeholder="Enter Your Email">
                                    </div>
                                </div>
                                <div class="footer text-center mb-20">
                                    <button onclick="return validate('Validate');" class="btn btn-primary btn-raised">
                                        Submit
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
    <p style="text-align:center;color: darkgoldenrod;">@ViewBag.msg</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mt-20"> <a href="/Login/Index" class="text-uppercase text-white">Back</a> </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

<!--  Vendor JavaScripts -->
<script src="~/Content/assets/bundles/libscripts.bundle.js"></script>

<!--  Custom JavaScripts  -->
<script src="~/Content/assets/js/main.js"></script>
<script src="~/Content/assets/js/jquery.validator.js"></script>
<!--/ custom javascripts -->
</html>