@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body{
				background: #eaeaea;
			}
			.page_notfound{
				text-align: center;
				margin-top: 125px;
			}
            .page_notfound p {
                    margin-top: 15px;
    font-size: 20px;
                }
                .page_notfound b {
                    color: #e86e01;
                }
    </style>
<div class="page_notfound">
                <img src="~/Content/images/issue.jpg" /><br />
			<p>You <b>dont</b> have permission for this page</p>
		</div>
